#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color:darkgrey;
}

.logo {
  padding: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-link a {
  color: black;
  text-decoration: none;
  padding: 20px;
  transition: all 0.3s;
}

.nav-link a:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #navbar {
    flex-direction: column;
    height: auto;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }

  .nav-link a {
    padding: 10px 0;
  }
}
.text-image {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 70px;
  color: white;
  text-align: center;
  width: 90px;
}
.font-under-image{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  width: 700px;
  
  border-right: 100px;
  font-weight: inherit;
  margin: 40px;
  margin-bottom: 80px;
}
.text{
  margin: auto;
}
.paragraph1{
  float: left;
  font-size: 50px;
  width: 400px;
  margin-left: 150px;
  margin-bottom: 100px;
}
.image {
  display: block;
  margin-left: auto;
  width: 50%; 
  height: 50%; 
}

.image1{
  border: 1px solid #ccc;
  float: right;
  margin-right: 11px;
}


.card{
  float: left;
  text-align: center;
  margin: 200px;
  margin-left: 450px;
}
.card1{
 float: left;
 margin-right: 20px;
}
.card2{
  float: left;
 margin-right: 20px;
}

.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  background: darkgray;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}




